# Student Performans Analysis #
### This is the final project required for data science nanodegree by GA & Misk Academy ###

---

Dataset available at : https://archive.ics.uci.edu/ml/datasets/student+performance

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style("white")
import statsmodels.api as sm

from sklearn import metrics
from sklearn.metrics import classification_report

In [2]:
#Contents auto-fit
pd.set_option('display.max_colwidth', 0)
pd.set_option("display.max_columns",None)
pass_score=10

## 1. Loading Dataset

In [3]:
# load data files into data frame objects

math=pd.read_csv("./data/student-mat.csv",delimiter=";")
por=pd.read_csv("./data/student-por.csv",delimiter=";")
math['course']="math"
por['course']="por"
dictionary=pd.read_excel("./data/dictionary.xlsx")
#merging data frams into one data fram
students=pd.concat([math,por],ignore_index = True)

In [4]:
students

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,course
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,math
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,math
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,math
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,math
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,math
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10,por
1040,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16,por
1041,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9,por
1042,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10,por
1043,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11,por

In [23]:
students

,school,gender,age,address,family_size,parents_status,mother_education,father_education,mother_job,father_job,reason,guardian,commute_time,study_time,failures,school_support,family_support,paid_classes,activities,nursery,desire_higher_edu,internet,romantic,family_quality,free_time,go_out,weekday_alcohol_usage,weekend_alcohol_usage,health,absences,period1_score,period2_score,final_score,course
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,math
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,math
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,math
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,math
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,math
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10,por
1040,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16,por
1041,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9,por
1042,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10,por
1043,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11,por

## 2. Exploratory Data Analysis (EDA)

- Before any analysis step, i would prefer to change column labels to more descriptive names (as shown in dictionary):

In [5]:
students.columns = ['school','gender','age','address','family_size','parents_status','mother_education','father_education',
           'mother_job','father_job','reason','guardian','commute_time','study_time','failures','school_support',
          'family_support','paid_classes','activities','nursery','desire_higher_edu','internet','romantic','family_quality',
          'free_time','go_out','weekday_alcohol_usage','weekend_alcohol_usage','health','absences','period1_score','period2_score','final_score','course']

<img src="./data/QA.png" style="float:left; margin:0px; height: 30px"> 
<p><b><span style="color:blue">&nbsp; How many rows and columns is there ? </span></b></p>

In [6]:
print("Rows: {}".format(students.shape[0]), "\nColumns: {}".format(students.shape[1]))

Rows: 1044
Columns: 34

<img src="./data/QA.png" style="float:left; margin:0px; height: 30px"> 
<p> <b><span style="color:blue">&nbsp; What is the data types of columns ? </span></b></p>

In [7]:
students.dtypes.value_counts()

object    18
int64     16
dtype: int64

### Sataset Information (meta data):

In [16]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   school                 1044 non-null   object
 1   gender                 1044 non-null   object
 2   age                    1044 non-null   int64
 3   address                1044 non-null   object
 4   family_size            1044 non-null   object
 5   parents_status         1044 non-null   object
 6   mother_education       1044 non-null   int64
 7   father_education       1044 non-null   int64
 8   mother_job             1044 non-null   object
 9   father_job             1044 non-null   object
 10  reason                 1044 non-null   object
 11  guardian               1044 non-null   object
 12  commute_time           1044 non-null   int64
 13  study_time             1044 non-null   int64
 14  failures               1044 non-null   int64
 15  school_support         1044 non-null   object
 16  family_support         1044 non-null   object
 17  paid_classes           1044 non-null   object
 18  activities             1044 non-null   object
 19  nursery                1044 non-null   object
 20  desire_higher_edu      1044 non-null   object
 21  internet               1044 non-null   object
 22  romantic               1044 non-null   object
 23  family_quality         1044 non-null   int64
 24  free_time              1044 non-null   int64
 25  go_out                 1044 non-null   int64
 26  weekday_alcohol_usage  1044 non-null   int64
 27  weekend_alcohol_usage  1044 non-null   int64
 28  health                 1044 non-null   int64
 29  absences               1044 non-null   int64
 30  period1_score          1044 non-null   int64
 31  period2_score          1044 non-null   int64
 32  final_score            1044 non-null   int64
 33  course                 1044 non-null   object
dtypes: int64(16), object(18)
memory usage: 277.4+ KB

In [20]:
students.duplicated().sum()

0

<img src="./data/Notes.png" style="float:left; margin:0px; height: 20px">
<b><span style="color:brown">&nbsp; No missing values, No duplications, Great ! </span></b>

---

<img src="./data/QA.png" style="float:left; margin:0px; height: 30px"> 
<p> <b><span style="color:blue">&nbsp; List statistical summary of numerical data ? </span></b></p>

In [17]:
students.describe()

,age,mother_education,father_education,commute_time,study_time,failures,family_quality,free_time,go_out,weekday_alcohol_usage,weekend_alcohol_usage,health,absences,period1_score,period2_score,final_score
count,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000
mean,16.726054,2.603448,2.387931,1.522989,1.970307,0.264368,3.935824,3.201149,3.156130,1.494253,2.284483,3.543103,4.434866,11.213602,11.246169,11.341954
std,1.239975,1.124907,1.099938,0.731727,0.834353,0.656142,0.933401,1.031507,1.152575,0.911714,1.285105,1.424703,6.210017,2.983394,3.285071,3.864796
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,9.000000,9.000000,10.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

<img src="./data/Notes.png" style="float:left; margin:0px; height: 20px">
<b><span style="color:brown">&nbsp; It is noticeable that there are students who scored zero in the final exam!. </span></b>

---

<img src="./data/QA.png" style="float:left; margin:0px; height: 30px"> 
<p> <b><span style="color:blue">&nbsp; How many students got (Zero) score on final exam ? </span></b></p>

In [ ]:
students[students['final_score'] == 0]["final_score"].count()

<img src="./data/QA.png" style="float:left; margin:0px; height: 30px"> 
<p> <b><span style="color:blue">&nbsp; Was the average of final exam scores reduced by Zero values ? </span></b></p>

In [ ]:
pd.DataFrame([(students.final_score.sum()/students.final_score.count(),students.final_score.sum()/students[students["final_score"]!=0]["final_score"].count())]
             ,columns=("Zeros_Included","Zeros_excluded"),index=["Final Exam (Average)"])

- It appears that there is no remarkable change on average.
- I would consider an assumption for those 0 score students, that they might not accounted on final exam for any reasons.
- zero score is not neccessary a NULL value. 
- As a result I would prefer not dropping relative rows.

<img src="./data/Notes.png" style="float:left; margin:0px; height: 20px">
<b><span style="color:brown">&nbsp;
 It appears that there is no remarkable change on average.
 I would consider an assumption for those 0 score students, that they might not accounted on final exam for any reasons. 
 zero score is not neccessary a NULL value.
As a result I would prefer not dropping relative rows. </span></b>

---

<img src="./data/QA.png" style="float:left; margin:0px; height: 30px"> 
<p> <b><span style="color:blue">&nbsp; Is there a correlation among the columns in the dataframe using ‘Pearson’ method. ? </span></b></p>

In [ ]:
students.corr(method ='pearson')

## Visualizing correlations:

In [ ]:
sns.set_palette("coolwarm", 7)
sns.set(rc={"figure.figsize": (10, 7)})
sns.heatmap(students.corr(method ='pearson'), annot=True, linewidth=0.4, vmin=-1, vmax=1)
plt.yticks(rotation=0);

## 2.Data Manipulation

In [ ]:
sns.pairplot(students[["final_score","age","mother_education","father_education","study_time","failures","absences"]])

In [ ]:
students.mother_education.corr(students.final_score)

In [ ]:
students.weekday_alcohol_usage.corr(students.final_score)

In [ ]:
students.corr()["final_score"]

In [ ]:
#students.drop(columns=["period1_score","period2_score"],inplace=True)
plt.figure(figsize=(27,12))
sns.heatmap(students.corr(),annot=True,cmap='YlGnBu')

---
- "final_score" statistics

In [ ]:
students.final_score.describe()

In [ ]:
# The plotting function below takes takes two arguments, the name of the column and the data associated with that column.
# I would call it repeatedly to plot some of variable distibutions. 
def distribution_plotter(column, data_set,x,y):
    data = data_set[column]
    sns.set(rc={"figure.figsize": (x, y)})
    sns.set(color_codes=True)
    sns.set(style="white", palette="muted")
    dist = sns.distplot(data, hist_kws={'alpha':0.2}, kde_kws={'linewidth':5})
    dist.set_title('Distribution of ' + column + '\n', fontsize=16)

In [ ]:
distribution_plotter("age", students,5,2)

In [ ]:
distribution_plotter("final_score", students,5,2)

---
- Comparing studints performance among two schools ,by gender:

In [ ]:
 pd.crosstab([students.gender],students.school,values=students["final_score"],aggfunc="mean",margins=True)

From above table we can see that GP student performed better than MS student, Although the absence rate is higher in GP school!.

---
- Looking at "final_score" distributions across two schools:

In [ ]:
plt.size=(10,10)
students.hist(column='final_score', by='school',sharex=True, sharey=True, layout=(3, 3));

- And across student ages:

In [ ]:
students.hist(column='final_score', by='age',sharex=True, sharey=True, layout=(3, 3));

Looks like normally distributed.

## 2.Features Engineering

For modeling purpose, i would convert all categorical values to numerical:

In [ ]:
#Bivariant 
students["school"]=students["school"].map({"MS":1,"GP":2})
students["gender"]=students["gender"].map({"M":1,"F":0})
students["family_size"]=students["family_size"].map({"GT3":1,"LE3":0})
students["address"]=students["address"].map({"U":1,"R":0})
students["parents_status"]=students["parents_status"].map({"T":1,"A":0})
#YES/NO 
students["school_support"]=students["school_support"].map({"yes":1,"no":0})
students["family_support"]=students["family_support"].map({"yes":1,"no":0})
students["paid_classes"]=students["paid_classes"].map({"yes":1,"no":0})
students["activities"]=students["activities"].map({"yes":1,"no":0})
students["nursery"]=students["nursery"].map({"yes":1,"no":0})
students["desire_higher_edu"]=students["desire_higher_edu"].map({"yes":1,"no":0})
students["internet"]=students["internet"].map({"yes":1,"no":0})
students["romantic"]=students["romantic"].map({"yes":1,"no":0})
#Multivariant 
students['mother_job'] = students['mother_job'].map({'services':1, 'at_home':2, 'teacher':3, 'health':4, 'other':5})
students['father_job'] = students['father_job'].map({'services':1, 'at_home':2, 'teacher':3, 'health':4, 'other':5})
students['reason'] = students['reason'].map({'course':1, 'home':2, 'reputation':3, 'other':4})
students['guardian'] = students['guardian'].map({'mother':1, 'father':2, 'other':3})

In [24]:
students_copy = pd.get_dummies(students,drop_first=True)
students_copy

,age,mother_education,father_education,commute_time,study_time,failures,family_quality,free_time,go_out,weekday_alcohol_usage,weekend_alcohol_usage,health,absences,period1_score,period2_score,final_score,school_MS,gender_M,address_U,family_size_LE3,parents_status_T,mother_job_health,mother_job_other,mother_job_services,mother_job_teacher,father_job_health,father_job_other,father_job_services,father_job_teacher,reason_home,reason_other,reason_reputation,guardian_mother,guardian_other,school_support_yes,family_support_yes,paid_classes_yes,activities_yes,nursery_yes,desire_higher_edu_yes,internet_yes,romantic_yes,course_por
0,18,4,4,2,2,0,4,3,4,1,1,3,6,5,6,6,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1,0,0,0
1,17,1,1,1,2,0,5,3,3,1,1,3,4,5,5,6,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
2,15,1,1,1,2,3,4,3,2,2,3,3,10,7,8,10,0,0,1,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,1,1,1,0,0
3,15,4,2,1,3,0,3,2,2,1,1,5,2,15,14,15,0,0,1,0,1,1,0,0,0,0,0,1,0,1,0,0,1,0,0,1,1,1,1,1,1,1,0
4,16,3,3,1,2,0,4,3,2,1,2,5,4,6,10,10,0,0,1,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,19,2,3,1,3,1,5,4,2,1,2,5,4,10,11,10,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,1,1,0,1
1040,18,3,1,1,2,0,4,3,4,1,1,1,4,15,15,16,1,0,1,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,1,1,0,1
1041,18,1,1,2,2,0,1,1,1,1,1,5,6,11,12,9,1,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,1
1042,17,3,1,2,1,0,2,4,5,3,4,2,6,10,10,10,1,1,1,1,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,1
1043,18,3,2,3,1,0,4,4,1,3,4,5,4,10,11,11,1,1,0,1,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,1

In [25]:
most_correlated = students.corr().abs()['final_score'].sort_values(ascending=False)

# Maintain the top 8 most correlation features with Grade
most_correlated = most_correlated[:9]
most_correlated

final_score              1.000000
period2_score            0.910743
period1_score            0.809142
failures                 0.383145
mother_education         0.201472
study_time               0.161629
father_education         0.159796
weekday_alcohol_usage    0.129642
age                      0.125282
Name: final_score, dtype: float64